<html>
	<head>
	<title></title>
	</head>
	<body>
		<table border='1' width=100%>
		
		 <tr>
		 	<th>ID</th>
		 	<th>Sitename</th>
		 	<th>Logo</th>
		 	<th>Url</th>
		 	<th>Title</th>
		 	<th>Heading</th>
		 	<th>Caption</th>
		 	<th>About</th>
		 	<th>Service Intro</th>
		 	<th>Service Icon 1</th>
		 	<th>Service Name1</th>
		 	<th>Service Description 1</th>
		 	<th>Service Icon 2</th>
		 	<th>Service Name2</th>
		 	<th>Service Description 2</th>
		 	<th>Features Intro</th>
		 	<th>Feature Icon 1</th>
		 	<th>feature Name1</th>
		 	<th>Feature Description 1</th>
		 	<th>Feature Icon 2</th>
		 	<th>feature Name2</th>
		 	<th>Feature Description 2</th>
		 	<th>Feature Icon 3</th>
		 	<th>feature Name 3</th>
		 	<th>Feature Description 3</th>
		 	<th>Feature Icon 4</th>
		 	<th>feature Name 4</th>
		 	<th>Feature Description 4</th>
		 	<th>Feature Icon 5</th>
		 	<th>feature Name 5</th>
		 	<th>Feature Description 5</th>
		 	<th>Feature Icon 6</th>
		 	<th>feature Name 6</th>
		 	<th>Feature Description 6</th>
		 	<th>Testimonial Icon1</th>
		 	<th>Testimonial 1</th>
		 	<th>Testimonial name 1</th>
		 	<th>Testimonial Icon 2</th>
		 	<th>Testimonial 2</th>
		 	<th>Testimonial name 2</th>
		 	<th>Testimonial Icon 3</th>
		 	<th>Testimonial 3</th>
		 	<th>Testimonial name 3</th>
		 	<th>Testimonial Icon 4</th>
		 	<th>Testimonial 4</th>
		 	<th>Testimonial name 4</th>
		 	<th>Happy Clients</th>
		 	<th>Peoples Love</th>
		 	<th>Gallery Description</th>
		 	<th>Gallery Image1</th>
		 	<th>Gallery Image2</th>
		 	<th>Gallery Image3</th>
		 	<th>Gallery Image4</th>
		 	<th>Address</th>
		 	<th>Place</th>
		 	<th>Zip</th>
		 	<th>Hours</th>
		 	<th>Phone Number</th>
		 	<th>Email</th>

		 </tr>
		  {% for i in queryResult %}
    <tr>
        <td> {{i.id}} </td>
        <td> {{i.sitename}} </td>
        <td><img src="../images/{{i.logo}}"width="80" height="80"></td>
        <td> {{i.url}} </td>
        <td> {{i.title}} </td>
        <td> {{i.heading}} </td>
        <td> {{i.caption}} </td>
        <td> {{i.about}} </td>
        <td> {{i.services}}</td>
        <td><img src="../images/{{i.service_icon1}}"width="80" height="80"></td>
        <td>{{i.service_text1}}</td>
        <td>{{i.service_description1}}</td>
        <td><img src="../images/{{i.service_icon2}}"width="80" height="80"></td>
        <td>{{i.service_text2}}</td>
        <td>{{i.service_description2}}</td>
        <td>{{i.features}}</td>
        <td><img src="../images/{{i.feature_icon1}}"width="80" height="80"></td>
        <td>{{i.feature_tex1}}</td>
        <td>{{i.feature_description1}}</td>
        <td><img src="../images/{{i.feature_icon2}}"width="80" height="80"></td>
        <td>{{i.feature_tex2}}</td>
        <td>{{i.feature_description2}}</td>
        <td><img src="../images/{{i.feature_icon3}}"width="80" height="80"></td>
        <td>{{i.feature_tex3}}</td>
        <td>{{i.feature_description3}}</td>
        <td><img src="../images/{{i.feature_icon4}}"width="80" height="80"></td>
        <td>{{i.feature_tex4}}</td>
        <td>{{i.feature_description4}}</td>
        <td><img src="../images/{{i.feature_icon5}}"width="80" height="80"></td>
        <td>{{i.feature_tex5}}</td>
        <td>{{i.feature_description5}}</td>
        <td><img src="../images/{{i.feature_icon6}}"width="80" height="80"></td>
        <td>{{i.feature_tex6}}</td>
        <td>{{i.feature_description6}}</td>
        <td><img src="../images/{{i.testimonial_icon1}}"width="80" height="80"></td>
        <td>{{i.testimonial1}}</td>
        <td>{{i.testimonial_name1}}</td>
        <td><img src="../images/{{i.testimonial_icon2}}"width="80" height="80"></td>
        <td>{{i.testimonial2}}</td>
        <td>{{i.testimonial_name2}}</td>
        <td><img src="../images/{{i.testimonial_icon3}}"width="80" height="80"></td>
        <td>{{i.testimonial3}}</td>
        <td>{{i.testimonial_name3}}</td>
        <td><img src="../images/{{i.testimonial_icon4}}"width="80" height="80"></td>
        <td>{{i.testimonial4}}</td>
        <td>{{i.testimonial_name4}}</td>
        <td>{{i.happy_clients}}</td>
        <td>{{i.peoples_love}}</td>
        <td>{{i.gallery_description}}</td>
       	<td><img src="../images/{{i.gallery_img1}}"width="80" height="80"></td>
       	<td><img src="../images/{{i.gallery_img2}}"width="80" height="80"></td>
       	<td><img src="../images/{{i.gallery_img3}}"width="80" height="80"></td>
       	<td><img src="../images/{{i.gallery_img4}}" width="80" height="80"></td>
        	<td>{{i.address}}</td>
        	<td>{{i.place}}</td>
        	<td>{{i.zip}}</td>
        	<td>{{i.hours}}</td>
        	<td>{{i.phone}}</td>
        	<td>{{i.email}}</td>
        	<td><a href="../views/update.php?id={{i.id}}">Edit</td>
        <!--  <td> {{i.img}} </td> -->
<!--         <td><img src="../images/{{i.img}}" width="50" height="50"></td>
 -->        
    </tr>
    {% endfor %}
		</table>
		<!-- <p>{{ name }}</p>
		<p>{{ age }}</p>
		<p>{{ address}}</p> -->

	</body>
</html>